/* Media Query for max-width 1600px */
@media (max-width: 1600px) {
  #nav-bar {
    gap: 3rem;
    padding: 1.5rem;
  }
  .header {
    padding: 1.5rem 4rem;
  }
  .profile-section {
    padding: 1.5rem 4rem;
  }
  .content-container {
    gap: 3rem;
    padding: 1.5rem;
  }
}

/* Media Query for max-width 1400px */
@media (max-width: 1400px) {
  .logo-container span {
    font-size: 2rem;
  }

  .profile-info-container {
    width: 100%;
  }
  .content-container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

/* Media Query for max-width 1250px */
@media (max-width: 1250px) {
  .header {
    padding: 1rem 2rem;
  }

  .profile-action-btn {
    padding: 1rem 2rem;
  }
  .profile-action-container {
    justify-content: center;
  }
  .content-container {
    padding: 1rem;
  }
  .aside {
    padding-right: 2rem;
  }
}

/* Media Query for max-width 1024px */
@media (max-width: 1024px) {
  .main {
    grid-template-columns: 1fr;
  }
  .main-content {
    position: relative;
  }

  #nav-bar {
    display: none;
  }

  #nav-bar-hidden {
    display: none;
    position: absolute;
    height: 100vh;

    top: 0;
    left: 0;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  }

  .profile-name {
    display: none;
  }

  .profile-img-tab {
    margin-right: -40px;
  }

  .nav-toggle-btn {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .logo-div {
    background-color: #1992d4;
  }

  .profile-section {
    padding: 2rem;
    gap: 2rem;
  }
  .profile-action-container {
    margin-right: 2rem;
  }
  .profile-action-btn {
    padding: 1rem 2rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content h3 {
    font-size: 3rem;
    padding: 1rem 0;
  }
  .content-container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
    padding: 4rem;
  }
  .project-list {
    gap: 2rem;
    grid-template-columns: 1fr;
  }

  .project-item {
    max-width: 60rem;
  }
  .aside {
    padding-right: 1rem;
  }
}

/* Media Query for max-width 724px */
@media (max-width: 835px) {
  .search-bar,
  .signIn-info,
  .profile-info-container,
  .profile-action-container {
    padding: 0 2rem;
  }

  .profile-text h1 {
    font-size: 1.8rem;
  }

  .profile-img-tab {
    margin-right: 0;
  }
}

/* Media Query for max-width 724px */

@media (max-width: 750px) {
  .profile-section {
    flex-direction: column;
  }

  .profile-action-container {
    justify-content: center;
    width: 100%;
  }

  .profile-text p {
    font-size: 1.8rem;
  }
  .profile-text {
    flex-direction: row;
  }

  .projects-container {
    grid-template-columns: 1fr;
  }
}
