/* /////////////////////////// */
/* NAVIGATION BAR */
/* /////////////////////////// */
#nav-bar {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  color: #ffffff;
  background-color: #1992d4;
  padding: 2rem;
  z-index: 8000;
}

#nav-bar-hidden {
  display: none;
  flex-direction: column;
  gap: 4rem;
  color: #ffffff;
  background-color: #1992d4;
  padding: 2rem;
  z-index: 8000;
}

/* Logo */
.logo-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.logo {
  display: grid;
  grid-template-columns: 1.4rem 1.4rem;
  gap: 0.4rem;
  z-index: 50000;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  height: 4rem;
}
/* 
.logo-div {
  background-color: #ffffff;
} */

.div-1,
.div-4 {
  background-color: #ffffff;
  height: 2rem;
  width: 100%;
}

.div-2,
.div-3 {
  background-color: #ffffff;
  height: 1rem;
  width: 100%;
}

.logo-container span {
  font-size: 2.4rem;
  font-weight: 600;
}

/* Nav Links */
.nav,
.utility-nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.8rem;
}

.nav-bar-list {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-icon {
  width: 2rem;
  height: 2rem;
  fill: #ffffff;
  margin-right: 0.8rem;
}

/* /////////////////////////// */
/* MAIN CONTENT */
/* /////////////////////////// */

.main {
  position: relative;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
  background-color: #ffffff;
}

.nav-toggle-btn {
  display: none;
  border: none;
  margin-right: 4rem;
}

.nav-toggle-btn {
  background-color: none;
}
.header-button {
  background-color: #ffffff;
  border: none;
  width: 3rem;
  height: 3rem;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 1rem;
  min-width: 60%;
}

.search-input {
  background-color: #e2e8f0;
  height: 3rem;
  width: 100%;
  border-radius: 50px;
  border: 1px solid #e2e8f0;
  padding: 1rem;
}

.search-input:focus {
  border: 1px solid #1992d4;
}

.signIn-info {
  display: flex;
  align-items: center;
  gap: 4rem;
  padding: 0 4rem;
}

.profile-img {
  background-color: #facc15;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  padding: 0.8rem;
}

.profile-name {
  font-size: 1.8rem;
  font-weight: 600;
}

/* /////////////////////////// */
/* PROFILE SECTION */
/* /////////////////////////// */

.profile-section {
  display: flex;
  background-color: #ffffff;
  padding: 2rem 5rem;
}

.profile-info-container {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  width: 65%;
  margin-right: 2rem;
}

.profileInfo-img {
  transform: scale(1.3);
}

.profile-text {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.profile-text p {
  font-size: 1.4rem;
  font-weight: 600;
}

.profile-text h1 {
  font-size: 2.4rem;
}

.profile-action-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 35%;
}

.profile-action {
  display: flex;
  gap: 2rem;
}

.profile-action-btn {
  background-color: #1992d4;
  color: #ffffff;
  font-size: 1.6rem;
  padding: 1rem 4rem;
  border-radius: 50px;
  border: none;
  transition: transform 0.3s ease;
}

.profile-action-btn:hover {
  background-color: #1475aa;
  transform: scale(1.05);
}

/* /////////////////////////// */
/* CONTENT CONTAINER */
/* /////////////////////////// */

.content-container {
  display: grid;
  grid-template-columns: 75% 25%;
  gap: 4rem;
  padding: 2rem;
}

.project-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.content h3 {
  font-size: 2rem;
  padding: 1rem 0;
}

/* Project */
.project-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  border-left: 8px solid #f0b428;
  border-radius: 10px;
  padding: 4rem 2rem;
}

.project-text h4 {
  font-size: 1.8rem;
  padding: 0.5rem 0;
}

.project-text p {
  font-size: 1.4rem;
  line-height: 1.4;
  margin-bottom: 1rem;
}

.projectIcon-container {
  align-self: flex-end;
  display: flex;
  gap: 4rem;
  padding: 0 2rem;
}

.project-btn {
  background-color: #ffffff;
  border: none;
  height: 2.5rem;
  width: 2.5rem;
}

/* /////////////////////////// */
/* ASIDE */
/* /////////////////////////// */

.aside {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-right: 4rem;
}

.aside h3 {
  font-size: 2rem;
  padding: 1rem 0;
}

.announcements,
.trending-list {
  min-width: 26rem;
}

.announcements {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
}

.announcement-lists {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.announcement-lists li:not(:last-child) {
  border-bottom: 1px solid #555;
  padding-bottom: 2rem;
}

.announcement-item h4 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.announcement-item p {
  font-size: 1.4rem;
  line-height: 1.2;
}

/* Trending List */
.trending-list {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  gap: 2rem;
  padding: 2rem;
  border-radius: 10px;
}

.trending-info {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.trending-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.trending-text h4 {
  font-size: 1.6rem;
}

.trending-text p {
  font-size: 1.8rem;
}
